.link{
  display: inline-flex;
  align-items: center;
  gap: var(--unit);
}
.img_link{
  --imgG: calc(5*var(--unit));
  width: var(--imgG);
  height: var(--imgG);
  border-radius: 50%;
  &.nvu{
    --imgG: calc(3*var(--unit));
  }
}

.hovercard{
  width: calc(5*var(--unit));
  height: calc(5*var(--unit));
  >img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: var(--md);
  }
}

.card{
  display: none;
  cursor: var(--md);
  position: absolute;
  z-index: 2;
  translate: calc(6*var(--unit)) calc(-50% - 2.5*var(--unit));
  box-shadow: 0 0 var(--unit) var(--ct);
  border-radius: var(--unit);
  width: calc(70*var(--unit));
  overflow: hidden;
  color: white;
  opacity: 0;
  transition: opacity .5s var(--dec_final);
  >div{
    width: 100%;
    height: 100%;
    >div{
      width: 100%;
      height: 100%;
      background-color: #00000086;
      padding: calc(3*var(--unit));
    }
  }
}

.card_head{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: calc(2*var(--unit));
  >img{
    width: calc(15*var(--unit));
    height: calc(15*var(--unit));
    border-radius: 50%;
  }
  >div{
    width: calc(100% - 23*var(--unit));
    h3{
      width: 70%;
      padding-top: var(--unit);
      font-size: calc(4*var(--unit));
      font-family: var(--fft);
      font-weight: bold;
    }
    p{
      width: 86%;
      opacity: .7;
    }
  }
}

.card_body{
  padding-top: calc(2*var(--unit));
  padding-bottom: calc(3*var(--unit));
}

.card_end{
  width: calc(100% - 6*var(--unit));
  display: flex;
  justify-content: space-between;
  align-items: end;
  >*{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: calc(2*var(--unit));
  }
  i{
    font-size: calc(3*var(--unit));
    color: var(--cs2);
    transition: scale .2s var(--dec_final);
    &:hover{
      scale: 1.14;
    }
  }
  >:last-child{
    color: var(--cs2);
    gap: var(--unit);
    text-decoration: none;
    svg{
      width: calc(1.5*var(--unit));
      height: calc(1.5*var(--unit));
      fill: var(--cs2);
    }
  }
}